{% extends 'Tracking/index.html' %}
<html lang="en">
<!doctype html>
<html lang="en">
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documents</title>
</head>

<body>
    <h1></h1>
    <div class="container">
        <a class="btn btn-primary" href="tracking.html" role="button">Crear</a>
    </div>
    <h1></h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Documentos
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Sitio</th>
                        <th>Tipo</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                        <form method="POST" action="eliminate/{{obj.id}}">
                            <tr>
                                <td><a href="update_documents.html/{{ obj.id }}">{{ obj.document }}</a></td>
                                <td>{{ obj.date }}</td>
                                <td>{{ obj.user }}</td>
                                <td>{{ obj.site }}</td>
                                <td>{{ obj.type }}</td>
                                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Eliminar</button></td>
                            </tr>
                        </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function eliminar() {
        var x = confirm("¿Está seguro de que desea eliminar el usuario?");
        if (x)
            return true;
        else
            return false;
    }
</script>
    {% endblock %}
</body>
</html>